:root {
  /* Colors */
  --white-rgb: 255, 255, 255;
  --gray-black-rgb: 22, 20, 21;
  --gray-rgb: 63, 63, 63;
  --black-rgb: 5, 5, 5;
  --orange-rgb: 244, 87, 34;

  /* Typography */
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Layout */
  --max-width-container: 1240px;
  --container-padding: 16px;
}
