<section class="bg-orange">
  <div class="container">
    <div
      class="flex items-center justify-center gap-x-[20px] py-[6px] text-white"
    >
      <span class="flex items-center gap-x-[4px] text-[10px] md:text-sm">
        <svg class="text-xs" width="1em" height="1em">
          <use
            xlink:href="assets/sprites/sprite.symbol.svg#geo-outilined"
          ></use>
        </svg>

        ul. Marcina Kasprzaka 29/921, Warszawa
      </span>

      <span class="flex items-center gap-x-[4px] text-[10px] md:text-sm">
        <svg class="text-xs" width="1em" height="1em">
          <use xlink:href="assets/sprites/sprite.symbol.svg#clock"></use>
        </svg>

        09:00-17:00 пн-пт
      </span>
    </div>
  </div>
</section>
