<section>
  <div class="container">
    <div
      class="flex flex-col gap-[32px] py-[50px] md:gap-[44px] md:py-[75px] lg:gap-[56px]"
    >
      <div
        class="grid gap-[16px] sm:grid-cols-2 sm:grid-rows-[min-content_1fr] lg:grid-cols-3 lg:grid-rows-1"
      >
        <h2
          class="mb-[16px] text-center text-[20px] font-medium uppercase text-orange sm:mb-0 sm:text-left md:text-[28px] lg:text-[36px]"
        >
          Про FoxFinancing
        </h2>

        <div class="row-span-2 overflow-clip rounded-[16px]">
          <img
            class="h-full max-h-[550px] w-full object-cover sm:max-h-max"
            width="400"
            height="550"
            src="./assets/img/home/about/woman.jpg"
            alt=""
          />
        </div>

        <div
          class="col-start-1 col-end-2 flex flex-col justify-end gap-[16px] sm:gap-[24px] md:gap-[32px] lg:col-auto"
        >
          <div class="flex flex-col gap-[16px]">
            <p class="text-[14px] md:text-[16px]">
              Для мене FoxFinancing - це про створення надійного фундаменту
              для підприємців у Польщі. Ми прибрали всю складність з
              організаційних процесів, щоб ви могли відкрити бізнес і
              працювати з будь-якої точки світу.
            </p>

            <p class="text-[14px] md:text-[16px]">
              Офіційна адреса для JDG чи Sp. z o.o., миттєве сповіщення про
              нові листи та безперебійна адміністративна підтримка - ми
              дбаємо про те, щоб ваш віртуальний офіс працював як годинник.
            </p>
          </div>

          <span
            class="text-[14px] font-medium uppercase text-orange md:text-[18px]"
            >Ілона Прус, Co-founder та СЕО FoxFinancing</span
          >
        </div>
      </div>

      <div
        class="grid grid-cols-2 gap-[16px] md:grid-cols-3 md:gap-[20px]"
      >
        <p class="self-end text-[14px] sm:self-stretch md:text-[16px]">
          Ваш надійний бек-офіс у Варшаві. Беремо на себе поштову рутину,
          щоб ви могли сфокусуватися на розвитку.
        </p>

        <div
          class="relative flex min-h-[120px] flex-col justify-between overflow-clip rounded-[16px] bg-orange p-[20px] md:min-h-[250px]"
        >
          <span
            class="text-[28px] font-medium sm:text-[36px] md:text-[48px] lg:text-[64px] xl:text-[72px]"
            >200+</span
          >

          <span class="text-[12px] uppercase sm:text-[16px] md:text-[18px]"
            >активних клієнтів</span
          >

          <img
            class="absolute right-0 top-0 w-full max-w-[69%]"
            width="250"
            height="250"
            src="./assets/img/home/about/logo.svg"
            alt="Logo"
          />
        </div>

        <div
          class="relative flex min-h-[120px] flex-col justify-between overflow-clip rounded-[16px] bg-orange p-[20px] md:min-h-[250px]"
        >
          <span
            class="text-[28px] font-medium sm:text-[36px] md:text-[48px] lg:text-[64px] xl:text-[72px]"
            >7+</span
          >

          <span class="text-[12px] uppercase sm:text-[16px] md:text-[18px]"
            >РОКІВ ДОСВІДУ В АДМІНІСТРУВАННІ БІЗНЕСІВ</span
          >

          <img
            class="absolute right-0 top-0 w-full max-w-[69%]"
            width="250"
            height="250"
            src="./assets/img/home/about/logo.svg"
            alt="Logo"
          />
        </div>

        <div
          class="relative flex min-h-[120px] flex-col justify-between overflow-clip rounded-[16px] bg-orange p-[20px] md:min-h-[250px]"
        >
          <span
            class="text-[28px] font-medium sm:text-[36px] md:text-[48px] lg:text-[64px] xl:text-[72px]"
            >0</span
          >

          <span class="text-[12px] uppercase sm:text-[16px] md:text-[18px]"
            >ПРОПУЩЕНИХ ВАЖЛИВИХ СПОВІЩЕНЬ ВІД ДЕРЖУСТАНОВ</span
          >

          <img
            class="absolute right-0 top-0 w-full max-w-[69%]"
            width="250"
            height="250"
            src="./assets/img/home/about/logo.svg"
            alt="Logo"
          />
        </div>

        <div
          class="relative flex min-h-[120px] flex-col justify-between overflow-clip rounded-[16px] bg-orange p-[20px] md:min-h-[250px]"
        >
          <span
            class="text-[28px] font-medium sm:text-[36px] md:text-[48px] lg:text-[64px] xl:text-[72px]"
            >100%</span
          >

          <span class="text-[12px] uppercase sm:text-[16px] md:text-[18px]"
            >ГАРАНТІЯ СТАБІЛЬНОСТІ АДРЕСИ ТА КОНФІДЕНЦІЙНОСТІ ДАНИХ</span
          >

          <img
            class="absolute right-0 top-0 w-full max-w-[69%]"
            width="250"
            height="250"
            src="./assets/img/home/about/logo.svg"
            alt="Logo"
          />
        </div>

        <p class="self-end text-[14px] md:text-[16px]">
          Миттєве сповіщення про нові листи, 100% онлайн-підтримка та
          стабільна адреса - те, за що нас обирають підприємці.
        </p>
      </div>
    </div>
  </div>
</section>
