<section>
  <div class="container">
    <div
      class="flex flex-wrap justify-center gap-[16px] py-[50px] md:gap-[20px] md:py-[75px]"
    >
      <div
        class="flex w-full max-w-[400px] flex-col items-center justify-between gap-[12px] rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[18px] md:gap-[24px] md:rounded-[16px] md:p-[18px] lg:gap-[32px] lg:p-[20px] xl:gap-[40px]"
      >
        <div
          class="flex size-[32px] items-center justify-center rounded-[4px] bg-orange md:size-[40px]"
        >
          <svg
            width="1em"
            height="1em"
            class="text-[20px] text-white md:text-[24px]"
          >
            <use xlink:href="assets/sprites/sprite.symbol.svg#geo"></use>
          </svg>
        </div>

        <div class="flex flex-col gap-[4px] md:gap-[8px] lg:gap-[12px]">
          <h3
            class="text-center text-[14px] uppercase leading-normal text-orange md:text-[16px] lg:text-[18px]"
          >
            Urząd Skarbowy Warszawa-Wola
          </h3>
          <p class="text-center text-[14px] leading-normal md:text-[16px]">
            Powstańców Śląskich 2D, 01-381 Warszawa
          </p>
        </div>
      </div>
      <div
        class="flex w-full max-w-[400px] flex-col items-center justify-between gap-[12px] rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[18px] md:gap-[24px] md:rounded-[16px] md:p-[18px] lg:gap-[32px] lg:p-[20px] xl:gap-[40px]"
      >
        <div
          class="flex size-[32px] items-center justify-center rounded-[4px] bg-orange md:size-[40px]"
        >
          <svg
            width="1em"
            height="1em"
            class="text-xl text-white md:text-2xl"
          >
            <use xlink:href="assets/sprites/sprite.symbol.svg#geo"></use>
          </svg>
        </div>

        <div class="flex flex-col gap-[4px] md:gap-[8px] lg:gap-[12px]">
          <h3
            class="text-center text-[14px] uppercase leading-normal text-orange md:text-[16px] lg:text-[18px]"
          >
            ZUS Inspektorat Warszawa-Wola
          </h3>
          <p class="text-center text-[14px] leading-normal md:text-[16px]">
            Wrocławska 20, 01-493 Warszawa
          </p>
        </div>
      </div>
      <div
        class="flex w-full max-w-[400px] flex-col items-center justify-between gap-[12px] rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[14px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:gap-[18px] lg:p-[20px] xl:gap-[20px]"
      >
        <div
          class="flex size-[32px] items-center justify-center rounded-[4px] bg-orange md:size-[40px]"
        >
          <svg
            width="1em"
            height="1em"
            class="text-xl text-white md:text-2xl"
          >
            <use xlink:href="assets/sprites/sprite.symbol.svg#geo"></use>
          </svg>
        </div>

        <div class="flex flex-col gap-[4px] md:gap-[8px] lg:gap-[12px]">
          <h3
            class="text-center text-[14px] uppercase leading-normal text-orange md:text-[16px] lg:text-[18px]"
          >
            Sąd Rejonowy dla m.st. Warszawy
          </h3>
          <p class="text-center text-[14px] leading-normal md:text-[16px]">
            XIII Wydział Gospodarczy KRS <br />
            ul. Czerniakowska 100, 00-454 Warszawa
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
