<section>
  <div class="container">
    <div
      class="flex flex-col gap-[32px] pb-[50px] pt-[100px] md:gap-[44px] md:pb-[75px] md:pt-[150px] lg:gap-[56px]"
    >
      <h2
        class="text-center text-[20px] font-medium uppercase md:text-[28px] lg:text-[36px]"
      >
        Чому бізнеси обирають <span class="text-orange">FoxFinancing</span>
      </h2>

      <ul
        class="grid grid-cols-2 gap-[16px] md:grid-cols-3 md:gap-[18px] lg:gap-[20px]"
      >
        <li
          class="flex flex-col justify-between gap-[8px] rounded-[12px] bg-gray-black p-[12px] sm:gap-[12px] sm:p-[16px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:p-[20px]"
        >
          <img
            class="w-full max-w-[32px] object-contain sm:max-w-[44px] md:max-w-[56px]"
            width="56"
            height="56"
            src="./assets/img/home/advantages/1.svg"
            alt="Icon"
          />

          <div
            class="flex flex-col justify-between gap-[8px] sm:gap-[12px] md:gap-[16px]"
          >
            <h3
              class="text-[14px] uppercase text-orange sm:text-[16px] md:text-[18px]"
            >
              СТАБІЛЬНІСТЬ ТА ВЕРИФІКАЦІЯ
            </h3>
            <p class="text-[12px] sm:text-[14px] md:text-[16px]">
              Офіційна адреса, яка легко проходить перевірки Urząd Skarbowy
              та підходить для реєстрацій будь-яких фірм.
            </p>
          </div>
        </li>

        <li
          class="flex flex-col justify-between gap-[8px] rounded-[12px] bg-gray-black p-[12px] sm:gap-[12px] sm:p-[16px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:p-[20px]"
        >
          <img
            class="w-full max-w-[32px] object-contain sm:max-w-[44px] md:max-w-[56px]"
            width="56"
            height="56"
            src="./assets/img/home/advantages/2.svg"
            alt="Icon"
          />

          <div
            class="flex flex-col justify-between gap-[8px] sm:gap-[12px] md:gap-[16px]"
          >
            <h3
              class="text-[14px] uppercase text-orange sm:text-[16px] md:text-[18px]"
            >
              Прозорі тарифи
            </h3>
            <p class="text-[12px] sm:text-[14px] md:text-[16px]">
              Фіксована вартість послуг без прихованих платежів та
              несподіваних доплат
            </p>
          </div>
        </li>

        <li
          class="flex flex-col justify-between gap-[8px] rounded-[12px] bg-gray-black p-[12px] sm:gap-[12px] sm:p-[16px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:p-[20px]"
        >
          <img
            class="w-full max-w-[32px] object-contain sm:max-w-[44px] md:max-w-[56px]"
            width="56"
            height="56"
            src="./assets/img/home/advantages/3.svg"
            alt="Icon"
          />

          <div
            class="flex flex-col justify-between gap-[8px] sm:gap-[12px] md:gap-[16px]"
          >
            <h3
              class="text-[14px] uppercase text-orange sm:text-[16px] md:text-[18px]"
            >
              Робота 100% онлайн
            </h3>
            <p class="text-[12px] sm:text-[14px] md:text-[16px]">
              Миттєвий доступ до вашої пошти, онлайн-кабінет та дистанційне
              підписання договорів.
            </p>
          </div>
        </li>

        <li
          class="flex flex-col justify-between gap-[8px] rounded-[12px] bg-gray-black p-[12px] sm:gap-[12px] sm:p-[16px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:p-[20px]"
        >
          <img
            class="w-full max-w-[32px] object-contain sm:max-w-[44px] md:max-w-[56px]"
            width="56"
            height="56"
            src="./assets/img/home/advantages/4.svg"
            alt="Icon"
          />

          <div
            class="flex flex-col justify-between gap-[8px] sm:gap-[12px] md:gap-[16px]"
          >
            <h3
              class="text-[14px] uppercase text-orange sm:text-[16px] md:text-[18px]"
            >
              Підтримка зручною для вас мовою
            </h3>
            <p class="text-[12px] sm:text-[14px] md:text-[16px]">
              Комунікація українською, російською, англійською або
              польською
            </p>
          </div>
        </li>

        <li
          class="flex flex-col justify-between gap-[8px] rounded-[12px] bg-gray-black p-[12px] sm:gap-[12px] sm:p-[16px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:p-[20px]"
        >
          <img
            class="w-full max-w-[32px] object-contain sm:max-w-[44px] md:max-w-[56px]"
            width="56"
            height="56"
            src="./assets/img/home/advantages/5.svg"
            alt="Icon"
          />

          <div
            class="flex flex-col justify-between gap-[8px] sm:gap-[12px] md:gap-[16px]"
          >
            <h3
              class="text-[14px] uppercase text-orange sm:text-[16px] md:text-[18px]"
            >
              ОПЕРАТИВНЕ ОПОВІЩЕННЯ
            </h3>
            <p class="text-[12px] sm:text-[14px] md:text-[16px]">
              Сканування та надсилання листів у день їх надходження. Ви не
              пропустите жодного важливого сповіщення.
            </p>
          </div>
        </li>

        <li
          class="flex flex-col justify-between gap-[8px] rounded-[12px] bg-gray-black p-[12px] sm:gap-[12px] sm:p-[16px] md:gap-[16px] md:rounded-[16px] md:p-[18px] lg:p-[20px]"
        >
          <img
            class="w-full max-w-[32px] object-contain sm:max-w-[44px] md:max-w-[56px]"
            width="56"
            height="56"
            src="./assets/img/home/advantages/6.svg"
            alt="Icon"
          />

          <div
            class="flex flex-col justify-between gap-[8px] sm:gap-[12px] md:gap-[16px]"
          >
            <h3
              class="text-[14px] uppercase text-orange sm:text-[16px] md:text-[18px]"
            >
              ФОКУС НА БІЗНЕСІ, А НЕ НА кореспон-денції
            </h3>
            <p class="text-[12px] sm:text-[14px] md:text-[16px]">
              Ми беремо на себе рутину з поштою та зв'язком із
              держустановами, щоб ви могли зосередитися на розвитку.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
