<section>
  <div class="container">
    <div
      class="flex flex-col gap-[32px] py-[50px] md:gap-[44px] md:py-[150px] lg:gap-[56px]"
    >
      <div class="flex justify-between">
        <h2
          class="max-w-[483px] text-[20px] font-medium uppercase md:text-[28px] lg:text-[36px]"
        >
          Відгуки клієнтів, які вже
          <span class="text-orange">працюють з нами</span>
        </h2>

        <div class="hidden items-center gap-[12px] md:flex">
          <button
            class="reviews-prev btn primary size-[48px] rounded-[4px]"
          >
            <svg class="text-[20px]" width="1em" height="1em">
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#nav-left"
              ></use>
            </svg>
          </button>

          <span class="!w-auto text-[16px]" id="reviews-pagination">
          </span>

          <button
            class="reviews-next btn primary size-[48px] rounded-[4px]"
          >
            <svg class="text-[20px]" width="1em" height="1em">
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#nav-right"
              ></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper w-full" id="reviews-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]"
                ><span class="text-orange">Prezes Zarządu,</span> GO HOGS
                sp. z o.o.</span
              >

              <p class="text-[14px] md:text-[16px]">
                Jestem bardzo zadowolona ze współpracy. Wszystkie sprawy są
                prowadzone sprawnie, jasno i bez niepotrzebnego stresu.
                Zawsze mogę liczyć na szybki kontakt, konkretne odpowiedzi
                i profesjonalne podejście. To współpraca, która daje
                poczucie bezpieczeństwa i porządku w firmie.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]">
                <span class="text-orange">Sviatoslav Irod,</span>właściciel
                JDG</span
              >

              <p class="text-[14px] md:text-[16px]">
                Współpraca przebiega bardzo komfortowo i profesjonalnie.
                Wszystko jest dobrze zorganizowane, komunikacja szybka, a
                odpowiedzi zawsze konkretne i pomocne. Doceniam rzetelność,
                terminowość i podejście nastawione na realne wsparcie
                klienta. Zdecydowanie polecam.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]">
                <span class="text-orange">Maksym Holik,</span> H.M.I.L.
                Company sp. z o.o.
              </span>

              <p class="text-[14px] md:text-[16px]">
                Chcę podziękować za profesjonalną obsługę i odpowiedzialne
                podejście do współpracy. Wszystkie kwestie są załatwiane
                terminowo, a komunikacja zawsze stoi na wysokim poziomie.
                Widać, że zespół naprawdę dba o klienta i pomaga prowadzić
                firmę spokojnie oraz pewnie. Jesteśmy bardzo zadowoleni ze
                współpracy
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]"
                ><span class="text-orange">Prezes Zarządu,</span> GO HOGS
                sp. z o.o.</span
              >

              <p class="text-[14px] md:text-[16px]">
                Jestem bardzo zadowolona ze współpracy. Wszystkie sprawy są
                prowadzone sprawnie, jasno i bez niepotrzebnego stresu.
                Zawsze mogę liczyć na szybki kontakt, konkretne odpowiedzi
                i profesjonalne podejście. To współpraca, która daje
                poczucie bezpieczeństwa i porządku w firmie.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]"
                ><span class="text-orange">Prezes Zarządu,</span> GO HOGS
                sp. z o.o.</span
              >

              <p class="text-[14px] md:text-[16px]">
                Jestem bardzo zadowolona ze współpracy. Wszystkie sprawy są
                prowadzone sprawnie, jasno i bez niepotrzebnego stresu.
                Zawsze mogę liczyć na szybki kontakt, konkretne odpowiedzi
                i profesjonalne podejście. To współpraca, która daje
                poczucie bezpieczeństwa i porządku w firmie.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]"
                ><span class="text-orange">Prezes Zarządu,</span> GO HOGS
                sp. z o.o.</span
              >

              <p class="text-[14px] md:text-[16px]">
                Jestem bardzo zadowolona ze współpracy. Wszystkie sprawy są
                prowadzone sprawnie, jasno i bez niepotrzebnego stresu.
                Zawsze mogę liczyć na szybki kontakt, konkretne odpowiedzi
                i profesjonalne podejście. To współpraca, która daje
                poczucie bezpieczeństwa i porządku w firmie.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="flex flex-col gap-[24px] rounded-[12px] bg-gray-black p-[16px] md:p-[18px] lg:p-[32px_20px]"
            >
              <span class="text-[14px] uppercase md:text-[16px]"
                ><span class="text-orange">Prezes Zarządu,</span> GO HOGS
                sp. z o.o.
              </span>

              <p class="text-[14px] md:text-[16px]">
                Jestem bardzo zadowolona ze współpracy. Wszystkie sprawy są
                prowadzone sprawnie, jasno i bez niepotrzebnego stresu.
                Zawsze mogę liczyć na szybki kontakt, konkretne odpowiedzi
                i profesjonalne podejście. To współpraca, która daje
                poczucie bezpieczeństwa i porządku w firmie.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex w-full items-center justify-between gap-[12px] md:hidden"
      >
        <button class="reviews-prev btn primary size-[48px] rounded-[4px]">
          <svg class="text-[20px]" width="1em" height="1em">
            <use
              xlink:href="assets/sprites/sprite.symbol.svg#nav-left"
            ></use>
          </svg>
        </button>

        <span id="reviews-pagination-bullets"></span>

        <button class="reviews-next btn primary size-[48px] rounded-[4px]">
          <svg class="text-[20px]" width="1em" height="1em">
            <use
              xlink:href="assets/sprites/sprite.symbol.svg#nav-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
