<section>
  <div class="container">
    <div
      class="flex flex-col items-center gap-[32px] py-[50px] md:gap-[56px] md:py-[75px]"
    >
      <h2
        class="w-full max-w-[954px] text-center text-[20px] md:text-[30px] lg:text-h2"
      >
        <span class="text-orange">ПОВНИЙ СПЕКТР ПОСЛУГ</span> ВІРТУАЛЬНОГО
        ОФІСУ ДЛЯ ВАШОГО БІЗНЕСУ
      </h2>

      <div class="flex w-full flex-col gap-[20px]">
        <div class="flex flex-col gap-[20px] md:flex-row">
          <div
            class="relative z-0 flex flex-[50%] flex-col gap-[16px] overflow-hidden rounded-xl border-[0.5px] border-solid border-white p-[12px_16px] md:gap-[24px] md:rounded-2xl md:p-[32px_20px]"
          >
            <div class="absolute left-0 top-0 -z-10 h-full w-full">
              <img
                class="h-full w-full object-cover"
                src="./assets/img/home/services/card-bg.png"
                alt="Bg"
              />
            </div>

            <span
              class="text-sm font-medium uppercase md:text-xl md:font-bold"
            >
              Віртуальний офіс для JDG
            </span>

            <span class="self-end text-xs md:text-sm">
              <span
                class="text-[28px] font-medium text-orange md:text-[40px]"
                >500</span
              >
              ZŁ брутто / рік
            </span>
          </div>

          <div
            class="relative z-0 flex flex-[50%] flex-col gap-[16px] overflow-hidden rounded-xl border-[0.5px] border-solid border-white p-[12px_16px] md:gap-[24px] md:rounded-2xl md:p-[32px_20px]"
          >
            <div class="absolute left-0 top-0 -z-10 h-full w-full">
              <img
                class="h-full w-full object-cover"
                src="./assets/img/home/services/card-bg.png"
                alt="Bg"
              />
            </div>

            <span
              class="text-sm font-medium uppercase md:text-xl md:font-bold"
            >
              Віртуальний офіс для  Sp. z o.o.
            </span>

            <span class="self-end text-xs md:text-sm">
              <span
                class="text-[28px] font-medium text-orange md:text-[40px]"
                >1000</span
              >
              ZŁ брутто / рік
            </span>
          </div>
        </div>

        <div
          class="grid grid-cols-2 gap-[16px] md:grid-cols-3 md:gap-[20px] lg:grid-cols-4"
        >
          <div
            class="flex min-h-[108px] flex-col justify-between gap-[16px] rounded-xl bg-gray-black p-[12px_16px] md:min-h-[160px] md:rounded-2xl md:p-[20px]"
          >
            <span
              class="text-[14px] font-medium uppercase text-orange md:text-[20px] xl:text-[24px]"
            >
              01
            </span>

            <p class="text-sm leading-normal md:text-base">
              Офіційна адреса для реєстрації компанії
            </p>
          </div>

          <div
            class="flex min-h-[108px] flex-col justify-between gap-[16px] rounded-xl bg-gray-black p-[12px_16px] md:col-start-3 md:min-h-[160px] md:rounded-2xl md:p-[20px]"
          >
            <span
              class="text-[14px] font-medium uppercase text-orange md:text-[20px] xl:text-[24px]"
            >
              02
            </span>

            <p class="text-sm leading-normal md:text-base">
              Прийом та обробка кореспонденції
            </p>
          </div>

          <div
            class="flex min-h-[108px] flex-col justify-between gap-[16px] rounded-xl bg-gray-black p-[12px_16px] md:min-h-[160px] md:rounded-2xl md:p-[20px]"
          >
            <span
              class="text-[14px] font-medium uppercase text-orange md:text-[20px] xl:text-[24px]"
            >
              03
            </span>

            <p class="text-sm leading-normal md:text-base">
              Online сповіщення про ваші нові листи
            </p>
          </div>

          <div
            class="flex min-h-[108px] flex-col justify-between gap-[16px] rounded-xl bg-gray-black p-[12px_16px] md:min-h-[160px] md:rounded-2xl md:p-[20px]"
          >
            <span
              class="text-[14px] font-medium uppercase text-orange md:text-[20px] xl:text-[24px]"
            >
              04
            </span>

            <p class="text-sm leading-normal md:text-base">
              Необмежене сканування вашої кореспонденції
            </p>
          </div>

          <div
            class="col-span-2 flex min-h-[108px] flex-col justify-between gap-[16px] rounded-xl bg-gray-black p-[12px_16px] md:col-auto md:min-h-[160px] md:rounded-2xl md:p-[20px]"
          >
            <span
              class="text-[14px] font-medium uppercase text-orange md:text-[20px] xl:text-[24px]"
            >
              05
            </span>

            <p class="text-sm leading-normal md:text-base">
              Сертифікована команда з власним офісом у Варшаві, що гарантує
              стабільність адреси реєстрації.
            </p>
          </div>

          <div
            class="col-span-2 flex flex-col justify-between gap-[16px] rounded-xl bg-gray-black p-[12px_16px] md:col-span-3 md:min-h-[160px] md:rounded-2xl md:p-[30px_20px] lg:col-span-2"
          >
            <span class="text-center text-lg uppercase"
              >Підключення займає
              <span class="text-orange">до 1 години</span>
            </span>

            <button
              class="btn primary min-h-[48px] w-full text-sm leading-normal md:text-base"
            >
              Оформити віртуальну адресу
              <svg width="1em" height="1em">
                <use
                  xlink:href="assets/sprites/sprite.symbol.svg#arrow-right"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
