<section>
  <div class="container">
    <div
      class="flex flex-col gap-[32px] py-[50px] sm:gap-[40px] md:gap-[48px] md:py-[75px] lg:gap-[56px]"
    >
      <h2
        class="text-center text-[20px] font-medium uppercase sm:text-[24px] md:text-[30px] lg:text-[36px]"
      >
        <span class="text-orange">Етапи</span> нашої з вами співпраці
      </h2>

      <ul class="flex flex-wrap justify-center gap-[16px]">
        <li
          class="relative flex w-full max-w-[360px] flex-col justify-between gap-[20px] overflow-hidden rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[24px] md:min-h-[200px] md:gap-[30px] md:rounded-[16px] lg:max-w-[400px] lg:gap-[42px] lg:p-[20px]"
        >
          <div class="flex w-full items-center justify-between gap-[20px]">
            <h3
              class="text-[14px] uppercase leading-normal text-orange sm:text-[16px] md:text-[18px]"
            >
              Залишаєте заявку
            </h3>

            <span
              class="text-[14px] font-medium uppercase leading-normal text-orange sm:text-[18px] md:text-[20px] lg:text-[24px]"
              >01</span
            >
          </div>

          <p
            class="text-[12px] leading-normal sm:text-[14px] md:text-[16px]"
          >
            Мінімум полів і жодної бюрократії. Залиште контакти, і ми
            зв’яжемося з вами для підбору оптимального формату
            обслуговування.
          </p>

          <img
            class="pointer-events-none absolute right-[16px] top-0 w-full max-w-[33%] md:right-0 md:max-w-[50%]"
            width="200"
            height="200"
            src="./assets/img/home/stages/logo.svg"
            alt="Logo"
          />
        </li>

        <li
          class="relative flex w-full max-w-[360px] flex-col justify-between gap-[20px] overflow-hidden rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[24px] md:min-h-[200px] md:gap-[30px] md:rounded-[16px] lg:max-w-[400px] lg:gap-[42px] lg:p-[20px]"
        >
          <div class="flex w-full items-center justify-between gap-[20px]">
            <h3
              class="text-[14px] uppercase leading-normal text-orange sm:text-[16px] md:text-[18px]"
            >
              Надсилаємо проєкт договору
            </h3>

            <span
              class="text-[14px] font-medium uppercase leading-normal text-orange sm:text-[18px] md:text-[20px] lg:text-[24px]"
              >02</span
            >
          </div>

          <p
            class="text-[12px] leading-normal sm:text-[14px] md:text-[16px]"
          >
            Готуємо прозорий договір без прихованих платежів та надсилаємо
            на вашу електронну пошту або в месенджер.
          </p>

          <img
            class="pointer-events-none absolute right-[16px] top-0 w-full max-w-[33%] md:right-0 md:max-w-[50%]"
            width="200"
            height="200"
            src="./assets/img/home/stages/logo.svg"
            alt="Logo"
          />
        </li>

        <li
          class="relative flex w-full max-w-[360px] flex-col justify-between gap-[20px] overflow-hidden rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[24px] md:min-h-[200px] md:gap-[30px] md:rounded-[16px] lg:max-w-[400px] lg:gap-[42px] lg:p-[20px]"
        >
          <div class="flex w-full items-center justify-between gap-[20px]">
            <h3
              class="text-[14px] uppercase leading-normal text-orange sm:text-[16px] md:text-[18px]"
            >
              Сплачуєте фактуру
            </h3>

            <span
              class="text-[14px] font-medium uppercase leading-normal text-orange sm:text-[18px] md:text-[20px] lg:text-[24px]"
              >03</span
            >
          </div>

          <p
            class="text-[12px] leading-normal sm:text-[14px] md:text-[16px]"
          >
            Надсилаємо офіційний рахунок-фактуру. Оплата фіксується
            миттєво, після чого ми відразу активуємо вашу послугу.
          </p>

          <img
            class="pointer-events-none absolute right-[16px] top-0 w-full max-w-[33%] md:right-0 md:max-w-[50%]"
            width="200"
            height="200"
            src="./assets/img/home/stages/logo.svg"
            alt="Logo"
          />
        </li>

        <li
          class="relative flex w-full max-w-[360px] flex-col justify-between gap-[20px] overflow-hidden rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[24px] md:min-h-[200px] md:gap-[30px] md:rounded-[16px] lg:max-w-[400px] lg:gap-[42px] lg:p-[20px]"
        >
          <div class="flex w-full items-center justify-between gap-[20px]">
            <h3
              class="text-[14px] uppercase leading-normal text-orange sm:text-[16px] md:text-[18px]"
            >
              Підписуємо угоду онлайн
            </h3>

            <span
              class="text-[14px] font-medium uppercase leading-normal text-orange sm:text-[18px] md:text-[20px] lg:text-[24px]"
              >04</span
            >
          </div>

          <p
            class="text-[12px] leading-normal sm:text-[14px] md:text-[16px]"
          >
            Вам не потрібно приїжджати в офіс. Завдяки 100% онлайн-формату,
            підписання договору займає не більше 5 хвилин.
          </p>

          <img
            class="pointer-events-none absolute right-[16px] top-0 w-full max-w-[33%] md:right-0 md:max-w-[50%]"
            width="200"
            height="200"
            src="./assets/img/home/stages/logo.svg"
            alt="Logo"
          />
        </li>

        <li
          class="relative flex w-full max-w-[360px] flex-col justify-between gap-[20px] overflow-hidden rounded-[12px] bg-gray-black p-[12px_16px] sm:gap-[24px] md:min-h-[200px] md:gap-[30px] md:rounded-[16px] lg:max-w-[400px] lg:gap-[42px] lg:p-[20px]"
        >
          <div class="flex w-full items-center justify-between gap-[20px]">
            <h3
              class="text-[14px] uppercase leading-normal text-orange sm:text-[16px] md:text-[18px]"
            >
              Отримуєте готову юридичну адресу
            </h3>

            <span
              class="text-[14px] font-medium uppercase leading-normal text-orange sm:text-[18px] md:text-[20px] lg:text-[24px]"
              >05</span
            >
          </div>

          <p
            class="text-[12px] leading-normal sm:text-[14px] md:text-[16px]"
          >
            Уже протягом години ви маєте законне право реєструвати бізнес
            на нашу сертифіковану адресу в Польщі та отримувати офіційну
            кореспонденцію.
          </p>

          <img
            class="pointer-events-none absolute right-[16px] top-0 w-full max-w-[33%] md:right-0 md:max-w-[50%]"
            width="200"
            height="200"
            src="./assets/img/home/stages/logo.svg"
            alt="Logo"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
