<section
  class="relative after:absolute after:bottom-0 after:left-0 after:z-[-5] after:h-[100px] after:w-full after:bg-black-transition md:after:h-[160px]"
>
  <div class="absolute left-0 top-0 -z-20 h-full w-full">
    <img
      class="hidden h-full w-full object-cover md:block"
      src="./assets/img/home/telegram/bg.png"
      alt="Background"
      width="610"
      height="560"
    />

    <img
      class="block h-full w-full object-cover md:hidden"
      src="./assets/img/home/telegram/bg-mobile.png"
      alt="Background"
      width="610"
      height="560"
    />
  </div>

  <div class="container">
    <div
      class="flex flex-col-reverse items-center gap-[32px] pt-[50px] md:pt-0 lg:flex-row lg:items-stretch lg:gap-[21px]"
    >
      <div class="relative w-full max-w-[601px]">
        <div
          class="absolute left-1/2 top-1/2 -z-10 h-[209px] w-[393px] -translate-x-1/2 -translate-y-1/2 rounded-full bg-[linear-gradient(50.68deg,rgba(13,3,0,0.4)23.8%,rgba(229,50,15,0.4)59.85%,rgba(233,115,24,0.4)71.66%)] opacity-80 blur-[100px] md:h-[418px] md:w-[700px] md:blur-[200px] lg:block"
        ></div>

        <img
          class="relative -z-10 h-full w-full object-contain object-bottom"
          src="./assets/img/home/telegram/phone.png"
          alt="Telegram Bot"
          width="603"
          height="561"
        />

        <button
          class="btn primary absolute bottom-0 left-1/2 min-h-[51px] w-full max-w-[400px] -translate-x-1/2"
        >
          Перейти до Telegram-каналу
          <svg width="1em" height="1em">
            <use
              xlink:href="assets/sprites/sprite.symbol.svg#arrow-right"
            ></use>
          </svg>
        </button>
      </div>

      <div
        class="flex w-full max-w-[610px] flex-col gap-[24px] md:gap-[28px] lg:gap-[32px]"
      >
        <div class="flex flex-col gap-[12px] md:gap-[16px]">
          <h2
            class="text-[20px] font-medium uppercase sm:text-[24px] md:text-[30px] lg:text-[36px]"
          >
            Актуальні новини та зміни у польському законодавстві - в нашому
            <span class="text-orange">безкоштовному Telegram каналі</span>
          </h2>

          <p class="text-[14px] md:text-[16px]">
            Ми щоденно відстежуємо зміни у податковому та бухгалтерському
            законодавстві Польщі й ділимося лише тим, що має практичне
            значення для бізнесу.
          </p>
        </div>
        <ul
          class="flex flex-col items-start gap-[8px] sm:gap-[12px] md:gap-[16px]"
        >
          <li
            class="flex items-center gap-[8px] rounded-[4px] bg-gray-black p-[8px_12px] md:p-[10px_16px] lg:p-[12px_20px]"
          >
            <svg
              class="text-[8px] text-orange md:text-[16px]"
              width="1em"
              height="1em"
            >
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#play"
              ></use>
            </svg>

            <p class="text-[14px] md:text-[16px]">
              Оновлення щодо податків, ZUS, VAT, KSeF
            </p>
          </li>

          <li
            class="flex items-center gap-[8px] rounded-[4px] bg-gray-black p-[8px_12px] md:p-[10px_16px] lg:p-[12px_20px]"
          >
            <svg
              class="text-[8px] text-orange md:text-[16px]"
              width="1em"
              height="1em"
            >
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#play"
              ></use>
            </svg>

            <p class="text-[14px] md:text-[16px]">
              Важливі зміни для JDG та Sp.z.o.o.
            </p>
          </li>

          <li
            class="flex items-center gap-[8px] rounded-[4px] bg-gray-black p-[8px_12px] md:p-[10px_16px] lg:p-[12px_20px]"
          >
            <svg
              class="text-[8px] text-orange md:text-[16px]"
              width="1em"
              height="1em"
            >
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#play"
              ></use>
            </svg>

            <p class="text-[14px] md:text-[16px]">
              Пояснення складних рішень простою мовою
            </p>
          </li>

          <li
            class="flex items-center gap-[8px] rounded-[4px] bg-gray-black p-[8px_12px] md:p-[10px_16px] lg:p-[12px_20px]"
          >
            <svg
              class="text-[8px] text-orange md:text-[16px]"
              width="1em"
              height="1em"
            >
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#play"
              ></use>
            </svg>

            <p class="text-[14px] md:text-[16px]">
              Нагадування про терміни подання звітності
            </p>
          </li>

          <li
            class="flex items-center gap-[8px] rounded-[4px] bg-gray-black p-[8px_12px] md:p-[10px_16px] lg:p-[12px_20px]"
          >
            <svg
              class="text-[8px] text-orange md:text-[16px]"
              width="1em"
              height="1em"
            >
              <use
                xlink:href="assets/sprites/sprite.symbol.svg#play"
              ></use>
            </svg>

            <p class="text-[14px] md:text-[16px]">
              Без спаму. Без реклами. Тільки корисна інформація для
              підприємців
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
